html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.photos {
  position: fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;

  .photos-wrapper {
    position: relative;
    height: 100%;
    width: 100%;

    .photo {
      display: inline-block;
      height: 100%;
      width: 50%;
    }
  }
}

.description-container {
  position: relative;
  height: 160px;
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  text-align: center;
  z-index: 9999;
  padding: 5px 0;
  margin-top: 50px;
  margin-right: -50%;
  word-wrap: break-word;
  white-space: normal;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
  letter-spacing: 1px;
  text-shadow:2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  0px 2px 0 #000,
  2px 0px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 2px 5px #000;
}

.next-arrow , .back-arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E9ECEF;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in .1s;

  &:hover {
    transition: transform ease-in .1s;
    transform: scale(1.1)
  }
}

.next-arrow  {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: #fff;

  img {
    transform: translate(2px, 0);

    &:focus {
      outline: 0;
    }
  }
}

.back-arrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #fff;

  img {
    transform: translate(-2px, 0);

    &:focus {
      outline: 0;
    }
  }
}
